#
# flux HelmRelease crd for installing Prometheus helm chart
#

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: prometheus
spec:
  chart:
    spec:
      chart: prometheus
      version: 28.8.x
      interval: 24h # new chart check
      sourceRef:
        kind: HelmRepository
        name: prometheus
  releaseName: prometheus
  interval: 1h # drift check
